<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
    <title>Cek Status Gizi Posyandu</title>
  </head>

  <body
    class="{{ s.body}}"
  >
    <div class="{{ s.div }}">
      <div class="{{ s.div_div }}">
        <h1 class="{{ s.div_h1 }}">
          Cek Status Gizi Anak (BB/Umur)
        </h1>
        <p class="{{ s.h1_p }}">
          Berdasarkan Standar Z-Score WHO
        </p>
      </div>

      <form action="/hitung" method="POST" class="space-y-5">
        <div>
          <label
            for="nama"
            class="{{ s.label_nama }}"
            >Nama Anak</label
          >
          <div class="relative">
            <input
              type="text"
              name="nama"
              id="nama"
              required
              placeholder="Nama Anak"
              class="{{ s.input }}"
            />
          <label for="jk" class="{{ s.label }}"
            >Jenis Kelamin</label
          >
          <select
            name="jk"
            id="jk"
            required
            class="{{ s.select }}"
          >
            <option value="L">Laki-laki</option>
            <option value="P">Perempuan</option>
          </select>
        </div>

        <div>
          <label
            for="umur"
            class="{{ s.label }}"
            >Umur Bayi</label
          >
          <div class="relative">
            <input
              type="number"
              name="umur"
              id="umur"
              min="0"
              max="13"
              required
              placeholder="Contoh: 5"
              class="{{ s.input }}"
            />
            <span
              class="absolute right-4 top-2.5 text-gray-400 font-medium select-none"
              >Minggu</span
            >
          </div>
        </div>

        <div>
          <label
            for="berat"
            class="{{ s.label }}"
            >Berat Badan</label
          >
          <div class="relative">
            <input
              type="number"
              name="berat"
              id="berat"
              step="0.01"
              min="0.5"
              required
              placeholder="Contoh: 4.2"
              class="{{ s.input }}"
            />
            <span
              class="{{ s.span }}"
              >kg</span
            >
          </div>
        </div>

        <div class="pt-2">
          <button
            type="submit"
            class="{{ s.button }}"
          >
            Cek Status Gizi
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
