<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='output.css') }}"
    />
    <title>Halaman Home</title>
  </head>
  <body>
    <div class="container mx-auto px-4">
      <h1 class="text-3xl font-bold text-center">Hello Ini Halaman Home</h1>
      <a
        href="/about"
        class="inline-block px-5 py-2 bg-green-600 text-white font-semibold rounded-lg shadow hover:bg-green-700 transition"
        >KE HALAMAN ABOUT</a
      >
    </div>
  </body>
</html>
